<div class="container">
  <div class="jumbotron">
    <h1>World News</h1>
    <!-- <p>Politics & Business News.</p>
    <p>A place where anyone can post informations from other sources</p>
    <p>Be the informant. I am going to have it for every continent. US, Africa, Europe, etc...</p>
    <p>Inform us about anything. It could be news, issues, health, corruption, anything.</p>
    <p>Inform the world</p>
    <p>A platform for new editors, anyone who wants to write about any issues or report some news.</p>
    <p>Some people could also take this platform and talk about their own stories and let people weight on it. For example: I can talk about my addiction with alcohol or talk about politics, business, environment</p>
    <p>weight on something that you dearly care about in the world.</p> -->
  </div>
</div>

<div class="transitions-enabled" id="infos">
  <% @infos.each do |info| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag info.url), info %>
      <h2>
        <%= link_to info.title, info %>
      </h2>
      <p class="small">
        <b class="s">SYNOPSIS</b>:
        <%= info.description %>
      </p>
      <p class="user">
        Source:
        <%= info.user.email %>
      </p>
    </div>
  <% end %>
</div>
